spring:
  datasource:
    url: jdbc:mysql://localhost:3306/store_app?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    show-sql: true
  flyway:
    baseline-on-migrate: true
    locations:
      - classpath:db/migration

websiteUrl: http://localhost:3000